MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=football-lake

# điền khi tới file tương ứng
API_FOOTBALL_KEY=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=football-lake/0.1 by u/yourname
THESPORTSDB_KEY=3
YOUTUBE_API_KEY=
ODDS_API_KEY=
RAPIDAPI_KEY=
